<%-include('../layouts/root-head')%>

    <section class="homepage content-container">
        <article>
            <h1 class="text-compressed">Satisfy Your Language Curiosity</h1>
            <p class="text-title font-normal text-semi-compressed">Explore translations and expand your linguistic horizons.</p>
            <a href="/" aria-label="Explore words" class="text-subtitle">Let's Go</a>
        </article>
    </section>


<%-include('../layouts/root-foot')%>