<%-include('../layouts/root-head')%>

    <section data-location="homepage" class="content-container">
        <article>
            <h2 class="text-compressed">Satisfy Your Language Curiosity</h2>
            <p class="text-title font-normal text-semi-compressed">Explore translations and expand your linguistic horizons.</p>
            <a href="/words" aria-label="Explore words" class="text-subtitle">Let's Go</a>
        </article>
    </section>


<%-include('../layouts/root-foot')%>