<%-include('../layouts/root-head')%>

    <section data-location="words" class="content-container">
        <header>
            <h4>Words</h4>
            <form action="/words/search" method="post" class='search-input '>
                <div class="input-container">
                    <input type="search" name="wordSearch" id="wordSearch" placeholder="Search a word">
                </div>
                <button type="submit" class="font-semibold">Search</button>
            </form>
        </header>
        <section class="main-content">
            <form action="/words/view" method="post" class="words-container">
                <% words.map((word) => { %>
                <button type="submit" value="<%= word.word_id%>" name="word"><%= word.english_word%></button>
                <% }) %>
            </form>
        </section>
    </section>


<%-include('../layouts/root-foot')%>