<%-include('../layouts/root-head')%>

    <section data-location="words" class="content-container">
        <header>
            <h4>Words</h4>
        </header>
        <form action="/words/view" method="post" class="words-container">
            <% words.map((word) => { %>
            <button type="submit" value="<%= word.word_id%>" name="word"><%= word.english_word%></button>
            <% }) %>
        </form>
    </section>


<%-include('../layouts/root-foot')%>