<nav>
    <a href="/" aria-label="Go to Homepage" class="text-subtitle font-bold"> Vocabank </a>
    <ul>
        <li>
            <a href="/words" class="font-semibold" aria-label="See Available Words">Words</a>
        </li>
    </ul>
</nav>