<% if(locals.url.current !== "/dashboard") { %>
    <nav>
        <a href="/" aria-label="Go to Homepage" class="text-subtitle font-bold"> Vocabank </a>
        <ul>
            <% locals.paths.app_paths.children.map((path) => { %>
                <li>
                    <a href="<%= path.route %>" class="font-semibold"><%= path.title%></a>
                </li>
            <% }) %>
        </ul>
    </nav>
<% } %>