@import "reset.css";

:root {
  font-size: 14px;
  --primary: #c9c7ba;
  --secondary: #29292b;
  --shadow: #202020;

  /* Typography */
  --base-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --text-headline: clamp(4rem, 9vw + 1rem, 6rem);
  --text-subheadline: clamp(2rem, 6vw + 1rem, 3rem);
  --text-title: clamp(1.5rem, 1vw + 1rem, 2rem);
  --text-subtitle: clamp(1.25rem, 1vw + 1rem, 1.5rem);
  --text-regular: clamp(1rem, 1vw + 1rem, 1.125rem);
  --text-small: clamp(0.85rem, 1vw + 1rem, 1rem);

  --font-light: 100;
  --font-normal: 300;
  --font-semibold: 500;
  --font-bold: 700;
  --font-extrabold: 700;

  /* Motion */
  --fast-transition-eio: 0.25s ease-in-out;

  /* Utilities */
  --guideline-1: 1px solid #668229;
  --guideline-2: 1px solid #823329;
  --shadow-blur: blur(15px);
  /* Dimensions */
  --fluid-width-200: min(200px, 100% - 1em);
  --fluid-width-400: min(400px, 100% - 1em);
  --fluid-width-600: min(600px, 100% - 1em);
  --fluid-width-800: min(800px, 100% - 1em);
}

html,
body {
  height: 100%;
  background-color: var(--primary);
  color: var(--secondary);
  font-family: var(--base-font);
  font-weight: var(--font-normal);
  font-size: var(--text-regular);
}

main {
  height: 100%;
  border: var(--guideline-1);
}

/* Typography */

:is(h1, .text-headline) {
  font-size: var(--text-headline);
  font-weight: var(--font-extrabold);
}
:is(h2, .text-subheadline) {
  font-size: var(--text-subheadline);
  font-weight: var(--font-semibold);

  &.font-normal {
    font-weight: var(--font-normal);
  }
}
:is(h3, .text-title) {
  font-size: var(--text-title);
  font-weight: var(--font-bold);

  &.font-normal {
    font-weight: var(--font-normal);
  }
  &.font-semibold {
    font-weight: var(--font-semibold);
  }
}
:is(h4, .text-subtitle) {
  font-size: var(--text-subtitle);
  font-weight: var(--font-semibold);

  &.font-normal {
    font-weight: var(--font-normal);
  }
}

.text-extra-compressed {
  line-height: 0.85;
}
.text-compressed {
  line-height: 1;
}
.text-semi-compressed {
  line-height: 1.05;
}
