@import "globals.css";

[data-location="homepage"] {
  &.content-container {
    &:nth-child(1) {
      display: grid;
      place-items: center;
      height: 100%;

      article {
        width: var(--fluid-width-800);
        text-wrap: balance;
        text-align: center;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.75em;
        padding-inline: 1em;

        a {
          margin-top: 1em;
          outline: 2px solid var(--secondary);
          outline-offset: 1px;
          background-color: var(--secondary);
          color: var(--primary);
          padding: 0.35em 1.25em;
          border-radius: 0.25em;
          transform: translateY(0px);
          transition: transform var(--fast-transition-eio);

          :is(&:hover, &:focus) {
            transform: translateY(-6px);
          }
        }
      }
    }
  }
}
