*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
fieldset,
textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 0.5em;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 0.25em;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #29292b;
}

svg,
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

ul,
ol {
  list-style-type: none;
}

table {
  border-collapse: collapse;
}

:is(h1, .text-headline-special) {
  font-size: clamp(4.5rem, 10vw + 1rem, 10rem);
  font-weight: 900;
}

:is(h2, .text-headline) {
  font-size: clamp(4rem, 9vw + 1rem, 6rem);
  font-weight: 700;
}

:is(h3, .text-subheadline) {
  font-size: clamp(2rem, 6vw + 1rem, 3rem);
  font-weight: 500;
}

:is(h4, .text-title) {
  font-size: clamp(1.5rem, 1vw + 1rem, 2rem);
  font-weight: 500;
}

:is(h5, .text-subtitle) {
  font-size: clamp(1.125rem, 1vw + 1rem, 1.3rem);
  font-weight: 500;
}

.text-extra-compressed {
  line-height: 0.85;
}

.text-compressed {
  line-height: 1;
}

.text-semi-compressed {
  line-height: 1.05;
}

.font-normal {
  font-weight: 300;
}

.font-semibold {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 900;
}

:root {
  font-size: 14px;
}

html,
body {
  height: 100%;
  background-color: #c9c7ba;
  color: #29292b;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: clamp(1rem, 1vw + 0.5rem, 1.225rem);
}

main {
  height: 100%;
}

nav {
  width: 100%;
  height: calc(clamp(1.125rem, 1vw + 1rem, 1.3rem) + 2em);
  padding-inline: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(201, 199, 186, 0.5);
  z-index: 100;
  backdrop-filter: blur(4px);
}

[data-location=homepage].content-container:nth-child(1) {
  display: grid;
  place-items: center;
  height: 100%;
}
[data-location=homepage].content-container:nth-child(1) article {
  width: min(800px, 100% - 1em);
  text-wrap: balance;
  text-align: center;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.75em;
  padding-inline: 1em;
}
[data-location=homepage].content-container:nth-child(1) article a {
  margin-top: 1em;
  outline: 2px solid #29292b;
  outline-offset: 1px;
  background-color: #29292b;
  color: #c9c7ba;
  padding: 0.35em 1.25em;
  border-radius: 0.25em;
  transform: translateY(0px);
  transition: transform 0.25s ease-in-out;
}
:is([data-location=homepage].content-container:nth-child(1) article a:hover, [data-location=homepage].content-container:nth-child(1) article a:focus) {
  transform: translateY(-6px);
}

[data-location]:not([data-location=homepage]) {
  padding-top: calc(clamp(1.125rem, 1vw + 1rem, 1.3rem) + 2em);
}

[data-location=words] {
  margin-inline: auto;
  width: min(1500px, 100% - 1em);
  padding: 1em 0.25em;
}
[data-location=words] header h4 {
  font-weight: 700;
  position: relative;
  padding-block: 0.25em;
}
[data-location=words] header h4::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #29292b;
  left: 0;
  bottom: 0;
}
[data-location=words] form.words-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em 0;
}
[data-location=words] form.words-container button {
  display: inline-block;
  font-size: clamp(1rem, 1vw + 0.5rem, 1.225rem);
  text-transform: capitalize;
  font-weight: 500;
  background-color: #29292b;
  color: #c9c7ba;
  padding: 0.75em 3em;
  border-radius: 0.25em;
}

[data-location="words/view"] .table-container {
  display: grid;
  place-items: center;
  width: min(1000px, 100% - 1em);
  margin-inline: auto;
}
[data-location="words/view"] .table-container table {
  width: 100%;
}
[data-location="words/view"] .table-container table caption {
  padding-top: 0.15em;
  padding-bottom: 0.4em;
  text-transform: capitalize;
  text-align: left;
  position: relative;
  margin-bottom: 0.25em;
}
[data-location="words/view"] .table-container table caption::before {
  width: 100%;
  height: 0.08em;
  border-radius: 0.02em;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #29292b;
}
[data-location="words/view"] .table-container table thead {
  position: relative;
}
[data-location="words/view"] .table-container table thead::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #29292b;
  bottom: 0;
  left: 0;
}
[data-location="words/view"] .table-container table thead tr th {
  text-align: center;
  font-size: clamp(1.125rem, 1vw + 1rem, 1.3rem);
  font-weight: 700;
  text-shadow: 0 0 1px #29292b;
  box-sizing: border-box;
  padding-block: 1em;
}
[data-location="words/view"] .table-container table tbody tr td {
  padding-block: 1em;
  text-align: center;
  text-shadow: 0 0 1px #29292b;
  border-bottom: 1px solid #5a5a5e;
  border-radius: 0.25em;
}
[data-location="words/view"] .table-container table tbody tr td[data-translations] {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
