$fluid-width-200-p: min(200px, 100% - 1em);
$fluid-width-400-p: min(400px, 100% - 1em);
$fluid-width-600-p: min(600px, 100% - 1em);
$fluid-width-800-p: min(800px, 100% - 1em);
$fluid-width-1000-p: min(1000px, 100% - 1em);
$fluid-width-1300-p: min(1300px, 100% - 1em);
$fluid-width-1500-p: min(1500px, 100% - 1em);
