@use "typography";
@use "palette";

:root {
  font-size: 14px;
}

html,
body {
  height: 100%;
  background-color: palette.$primary;
  color: palette.$secondary;
  font-family: typography.$base-font;
  font-weight: typography.$font-normal;
  font-size: typography.$text-regular;
}

main {
  height: 100%;
}

$nav-height: calc(typography.$text-subtitle + 2em);

nav {
  width: 100%;
  height: $nav-height;
  padding-inline: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: palette.$primary-transparent;
  z-index: 100;
  backdrop-filter: blur(4px);
}
