@use "palette";
@use "typography";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
fieldset,
textarea {
  outline: none;
  border: none;
}

input,
button,
a {
  font-family: typography.$base-font;
}

textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 0.5em;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 0.25em;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: palette.$secondary;
}

svg,
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

ul,
ol {
  list-style-type: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px palette.$primary inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: palette.$secondary !important;
}
