@use "resets";
@use "typography";
@use "palette";
@use "utilities";
@use "dimensions";
@use "motions";
@use "globals";

$medium-screen: 800px;

// Defaults
[data-location]:not([data-location="homepage"], [data-location="dashboard"]) {
  padding-top: globals.$nav-height;
}

// page: home Start
[data-location="homepage"] {
  &.content-container {
    &:nth-child(1) {
      display: grid;
      place-items: center;
      height: 100%;

      article {
        width: dimensions.$fluid-width-800-p;
        text-wrap: balance;
        text-align: center;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.75em;
        padding-inline: 1em;

        a {
          margin-top: 1em;
          outline: 2px solid palette.$secondary;
          outline-offset: 1px;
          background-color: palette.$secondary;
          color: palette.$primary;
          padding: 0.35em 1.25em;
          border-radius: 0.25em;
          transform: translateY(0px);
          transition: transform motions.$fast-transition-eio;

          :is(&:hover, &:focus) {
            transform: translateY(-6px);
          }
        }
      }
    }
  }
}
// page: home End

// page: words Start
[data-location="words"] {
  margin-inline: auto;
  width: dimensions.$fluid-width-1500-p;
  padding: 1em 0.25em;

  header {
    display: flex;
    align-items: center;
    padding: 0.5em;
    position: relative;
    justify-content: space-between;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      background-color: palette.$secondary;
      left: 0;
      bottom: 0;
    }

    h4 {
      font-weight: typography.$font-bold;
      padding-block: 0.25em;
    }

    form.search-input {
      display: flex;

      .input-container {
        background-color: transparent;
        position: relative;
        outline: 2px solid palette.$secondary-fade;
        outline-offset: -2px;
        border-top-left-radius: 0.75em;
        border-bottom-left-radius: 0.75em;

        input[type="search"] {
          background-color: transparent;
          padding: 0.75em 1em;

          &::-webkit-search-cancel-button {
            -webkit-appearance: none;
          }
        }
      }

      button[type="submit"] {
        background-color: palette.$secondary-fade;
        padding: 0.25em 1em;
        color: palette.$primary;
        transition: motions.$fast-transition-eio;
        border-top-right-radius: 0.75em;
        border-bottom-right-radius: 0.75em;

        &:hover {
          background-color: palette.$tertiary;
        }
      }
    }
  }

  section.main-content {
    display: flex;
    flex-direction: column;

    form.words-container {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      padding: 1em 0;

      button {
        display: inline-block;
        font-size: typography.$text-regular;
        text-transform: capitalize;
        font-weight: typography.$font-semibold;
        background-color: palette.$secondary;
        color: palette.$primary;
        padding: 0.75em 3em;
        border-radius: 0.25em;
      }
    }
  }
}
// page: words End

// page: words/view Start
[data-location="words/view"] {
  .table-container {
    display: grid;
    place-items: center;
    width: dimensions.$fluid-width-1000-p;
    margin-inline: auto;

    table {
      width: 100%;

      caption {
        padding-top: 0.15em;
        padding-bottom: 0.4em;
        text-transform: capitalize;
        text-align: left;
        position: relative;
        margin-bottom: 0.25em;

        &::before {
          width: 100%;
          height: 0.08em;
          border-radius: 0.02em;
          position: absolute;
          bottom: 0;
          left: 0;
          content: "";
          background-color: palette.$secondary;
        }
      }

      thead {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 2px;
          background-color: palette.$secondary;
          bottom: 0;
          left: 0;
        }

        tr th {
          text-align: center;
          font-size: typography.$text-subtitle;
          font-weight: typography.$font-bold;
          text-shadow: 0 0 1px palette.$secondary;
          box-sizing: border-box;
          padding-block: 1em;
        }
      }
      tbody {
        tr {
          td {
            padding-block: 1em;
            text-align: center;
            text-shadow: 0 0 1px palette.$secondary;
            border-bottom: 1px solid palette.$secondary-fade;
            border-radius: 0.25em;

            &[data-translations] {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
// page: words/view End

// page: dashboard Start
[data-location="dashboard"] {
  width: 100%;
  height: 100%;
  background-color: palette.$primary;
  padding: 1em;

  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "main"
    "aside";

  @media (width >= $medium-screen) {
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "aside"
      "main";
  }

  aside {
    border-radius: 0.5em;
    grid-area: aside;
    position: relative;
    padding-top: 0.75em;
    padding-bottom: 0.25em;

    background-color: palette.$secondary;

    @media (width >= $medium-screen) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-block: 0;
      padding: 0.5em 1em;
    }

    header {
      display: none;
      flex-shrink: 0;

      @media (width >= $medium-screen) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25em;
      }
      svg {
        width: typography.$text-subtitle;

        path {
          fill: palette.$primary;
        }
      }

      a {
        color: palette.$primary;
      }
    }

    ul.dashboard-links-container {
      display: flex;
      align-items: center;

      @media (width >= $medium-screen) {
        gap: 0.85em;
      }

      li {
        flex-grow: 1;
        flex-shrink: 0;
        display: grid;
        place-items: center;

        @media (width >= $medium-screen) {
          flex-grow: 0;
        }

        a {
          display: inline-flex;
          flex-direction: column;
          justify-content: left;
          align-items: center;
          text-align: center;
          transition: background-color motions.$fast-transition-eio;

          @media (width >= $medium-screen) {
            font-weight: typography.$font-semibold;
            flex-direction: row;
            justify-content: center;
            padding: 0.25em 0.75em;
            border-radius: 0.25em;

            &:hover {
              background-color: rgba(100, 100, 100, 0.25);
            }

            &.active {
              background-color: rgba(150, 150, 150, 0.5);
            }
          }

          svg {
            width: typography.$text-subtitle;
            aspect-ratio: 1;
            display: grid;
            place-items: center;

            path {
              fill: palette.$primary;
            }

            @media (width >= $medium-screen) {
              display: none;
            }
          }

          span[data-link-label] {
            font-size: typography.$text-small;
            text-transform: capitalize;
            color: palette.$primary;
            display: block;
          }
        }
      }
    }
  }

  main {
    grid-area: main;

    header {
      padding: 1em;

      p[data-path-display] {
        display: inline-block;
        color: palette.$neutral;
        transition: all motions.$fast-transition-eio;
        cursor: pointer;

        &:hover {
          color: palette.$neutral-interact;
          text-shadow: 0 0 1px palette.$neutral-interact;
        }
      }
    }
  }
}
// page: dashboard End
