@use "resets";
@use "typography";
@use "palette";
@use "utilities";
@use "dimensions";
@use "motions";
@use "globals";

[data-location="homepage"] {
  &.content-container {
    &:nth-child(1) {
      display: grid;
      place-items: center;
      height: 100%;

      article {
        width: dimensions.$fluid-width-800-p;
        text-wrap: balance;
        text-align: center;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.75em;
        padding-inline: 1em;

        a {
          margin-top: 1em;
          outline: 2px solid palette.$secondary;
          outline-offset: 1px;
          background-color: palette.$secondary;
          color: palette.$primary;
          padding: 0.35em 1.25em;
          border-radius: 0.25em;
          transform: translateY(0px);
          transition: transform motions.$fast-transition-eio;

          :is(&:hover, &:focus) {
            transform: translateY(-6px);
          }
        }
      }
    }
  }
}

[data-location]:not([data-location="homepage"]) {
  padding-top: globals.$nav-height;
}

[data-location="words"] {
  margin-inline: auto;
  width: dimensions.$fluid-width-1500-p;
  padding: 1em 0.25em;

  header {
    h4 {
      font-weight: typography.$font-bold;
      position: relative;
      padding-block: 0.25em;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        background-color: palette.$secondary;
        left: 0;
        bottom: 0;
      }
    }
  }

  form.words-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em 0;

    button {
      display: inline-block;
      font-size: typography.$text-regular;
      text-transform: capitalize;
      font-weight: typography.$font-semibold;
      background-color: palette.$secondary;
      color: palette.$primary;
      padding: 0.75em 3em;
      border-radius: 0.25em;
    }
  }
}

[data-location="words/view"] {
  .table-container {
    display: grid;
    place-items: center;
    width: dimensions.$fluid-width-800-p;
    margin-inline: auto;

    table {
      width: 100%;
      font-size: typography.$text-subtitle;
      place-items: center;

      caption {
        text-align: left;
        text-transform: capitalize;
        margin-bottom: 0.25em;
        background-color: palette.$secondary;
        color: palette.$primary;
        position: relative;
        isolation: isolate;
        padding-block: 0.25em;

        &::before {
          width: 100vw;
          height: 100%;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          content: "";
          background-color: inherit;
          z-index: -1;
        }
      }

      thead {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 3px;
          background-color: palette.$secondary;
          bottom: 0;
          left: 0;
        }

        tr th {
          padding: 1em;
          text-align: center;
        }
      }
      tbody {
        tr td {
          padding-block: 1em;
          text-align: center;
        }
      }
    }
  }
}
